.months-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
}

.col {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.row > label {
  margin-right: 10px;
}
